$TTL 86400
@       IN      SOA     {{ item.key }}{{ item.value.dns.server }}.      root.{{ item.key }}. (
        2024040901      ; Serial
        3600            ; Refresh
        1800            ; Retry
        604800          ; Expire
        86400           ; Minimum  TTL
)
        IN      NS      {{ item.key }}{{ item.value.dns.server }}.
        IN      A       {{ item.value.dns.address }}

{% for host in item.value.hosts | dict2items %}
{{ host.key }}    IN  A   {{ host.value }}
{% endfor %}